<footer class="">
    <div class="categories">
        <div class="subscribe">
            <h2><i>Wanderlust</i></h2>
            <h6>For explores everywhere</h6>
            <p style="font-weight: 500;">Follows us on</p>

            <div class="f-info-social">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <p style="font-weight: 500;">Subscribe</p>
            <input type="email" placeholder="Subscribe ...." class="form-control col-6" />
            <button class="btn btn-primary mt-2 col-12">Subscribe now</button>

            <p>Subscribe to Lonely Planet newsletters and promotions. Read our <a href="#">privacy and policy</a>.</p>

        </div>
            <ul>
                <h4>Top Destination</h4>
                <li><a href="">New York City</a></li>
                <li><a href="">Paris</a></li>
                <li><a href="">Italy</a></li>
                <li><a href="">Germany</a></li>
                <li><a href="">United State </a></li>
                <li><a href="">Dubai</a></li>
                <li><a href="">Japan </a></li>
                <li><a href="">Chicago</a></li>
                <li><a href="">England</a></li>
                <li><a href="">France</a></li>
                <li><a href="">India</a></li>
                <li><a href="">Explore more destination</a></li>
            </ul>
            <ul>
                <h4>Support</h4>
                <li><a href="">Help center</a></li>
                <li><a href="">Air cover</a></li>
                <li><a href="">Anti descrimination</a></li>
                <li><a href="">Disability support</a></li>
                <li><a href="">Cancellation </a></li>
                <li><a href="">Report neighbourhood concern</a></li>
            </ul>    
    </div>
    

    <div class="f-info">
        <div> &copy; 2024 Wanderlust private limited, a travelling Ventures company. All rights reserved. No part of this site may be reproduced without our written permission.</div>
    </div>
</footer>