<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="hero">

  <div class="slider1">
    <h3 class='headline'>Explore on Wanderlust</h3>
      <div class="slider-wrapper">
          <button id="prev-slide" class="slide-button fas fa-chevron-left"></button>
          <div class="image-list">

              <img src="https://media.istockphoto.com/id/1483523217/photo/a-woman-in-white-dress-walks-down-a-pier-over-turquoise-ocean-in-the-maldives-during-sunset.jpg?s=612x612&w=0&k=20&c=cT95MZafAv2BPTsyztSreQjzbHjv2pBspxL6BMMogK8=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1031430214/photo/young-woman-kayaking-through-the-backwaters-of-monroe-island.jpg?s=612x612&w=0&k=20&c=kbv2s1kknMzJgk8Nd-W2VNIf0AFx48YtCqygtI3Ppos=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/491656610/photo/illuminated-building-at-gadsisar-lake-jaisalmer-rajastan-india.jpg?s=612x612&w=0&k=20&c=Nl37IvYEUI6uzLuVlz08s6X-f_9YA6_wBi_QLLW2OOU=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1151755587/photo/sunrise-behind-a-tropical-island-in-the-maldives.jpg?s=612x612&w=0&k=20&c=1P-LXAZfbvIA58uLLRU8zTiwBSnR01zDzZAChe_wM7c=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1164329797/photo/hindu-sadhu-sitting-on-a-boat-overlooking-varanasi-city-architecture-at-sunset.jpg?s=612x612&w=0&k=20&c=LbpIHRo7kGT7dbUr6b6UuD1d6P0yCaKZ2lbqo3TY988=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1408069555/photo/a-young-man-assisting-a-girl-trekking-through-steps-with-flowing-water-during-monsoon.jpg?s=612x612&w=0&k=20&c=k03uGR5RDEG-_oqOHRDvCd_h0-Kh7_zbs3iZfMQCjGA=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/516449022/photo/lady-with-kayak.jpg?s=612x612&w=0&k=20&c=Yp-rzpmY_hbhpbTE38z6toouRKW-lAEN-ZvuWvH8kKE=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1093110112/photo/picturesque-morning-in-plitvice-national-park-colorful-spring-scene-of-green-forest-with-pure.jpg?s=612x612&w=0&k=20&c=lpQ1sQI49bYbTp9WQ_EfVltAqSP1DXg0Ia7APTjjxz4=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/1159108633/photo/tanning-beds-beside-swimming-pool-in-tropical-resort-in-maldives.jpg?s=612x612&w=0&k=20&c=KfqiClL1rEaLTsMIaipZ3ptJg_nfXwP4WiFfx5V_3I4=" alt="" class="image-item"/>

              <img src="https://media.istockphoto.com/id/510795912/photo/india-gate.jpg?s=612x612&w=0&k=20&c=kZkdrEDXEtoLK6Qh8XPywc9VYV95mJXXcWLBxHftN_U=" alt="" class="image-item"/>

          </div>
          <button id="next-slide" class="slide-button fas fa-chevron-right"></button>
      </div>
      </div>
    </div>  

</body>