body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* home section */

.headline{
    text-align: center;
    color: #fe424d;
    margin-bottom: 15px;
}
.slider1{
    margin-top: 10px;
    padding:30px 80px 30px 80px;
    background-color: #faf8f8;
    width: 96vw;
    margin-left: -100px;
  }
  .slider-wrapper .image-list{
    display: grid;
    font-size: 0;
    overflow-x:auto ;
    scrollbar-width: none;
    margin-bottom: 30px;
    gap:10px;
    grid-template-columns: repeat(16,1fr);
  }
  .slider-wrapper{
    position: relative;
  }
  .slider-wrapper .slide-button{
    height: 50px;
    position: absolute;
    width: 50px;
    color: #fff;
    top:50%;
    transform: translateY(-50%);
    background-color:#fe424d;
    border-radius: 50%;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .slider-wrapper .slide-button#prev-slide{
    left: -20px;
  }
  
  .slider-wrapper .slide-button#next-slide{
    right: -20px;
  }
  .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
  }
  
  .slider-wrapper .image-list .image-item{
    width: 280px;
    border: 1px solid gray;
    border-radius: 16px;
    height: 350px;
    object-fit: cover;
  }

  /* home end */
  
.container{
    flex: 1;
}
.create{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.createForm{
    margin-left: 120px;
    margin-right: 120px;
}
.navbar{
    height: 6rem;
    position: sticky;
    background-color: #fff;
}
@media (max-width: 768px) {
    .navbar{
        margin-bottom: 200px;
    }
    .nav-brand{
        margin-top: 20px;
    }
    .slider1{
        width: 100%;
        margin-left: 0;
    }
    .review{
        width: 320px;
    }
    .show-title{
        text-align: center;
    }
    .show-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        .show-img{
            width: 300px !important;
        }
    }
  }
  
.nav-brand{
    color: #fe424d;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 2px;
    margin-right: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    height:46px;width:46px;
    border: 4px solid #fe424d;
    border-radius: 50%;
    padding: 5px;
    position: sticky;
}
.btn{
    background-color: #fe424d;
    color:#fff;
    border: none;
}
.btn1{
    background-color: #fe424d !important;
    color: #fff;
    border: none !important;
}
.nav-link{
    color: #674188 !important;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
}
.navbar-brand{
    color:#674188 !important;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 3rem;
    right: 10px;
}
label{
    font-weight: 600;
}

/* footer styling */


footer{
    background-color: #faf8f8;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links ,.f-info-social ,.f-info-brand{
    width: 100%;
    display: flex;
}
.f-info-social i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.f-info-social i:hover{
    color: #fe424d;
    cursor: pointer;
}
.f-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fe424d;
    flex-wrap: wrap;
    color:#fff;
    padding: 30px;
}
.categories{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h2{
        color:#fe424d;
        font-family: cursive;
    }
    

    ul li{
        list-style: none;
        a{
            text-decoration: none;
            color:#222222
        }
    }
}



/* listing card styling */
.listing-card{
    border: none;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
 /* show styling */
 .show-img{
    height: 50vh;
    width: 600px !important;
    margin-right: 20px;
 }
 .show-card{
    margin-top: 20px;
    width:70vw;
    display: flex;
    justify-content: space-around;
    align-items:center;
 }
 .show-card-content{
    width: 400px;
 }
 .btns{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items: center;    
 }
/* 
 show card styling end */

 .review-card{
    width: 550px;
    border: 1px solid rgb(172, 168, 168);
    border-radius: 10px;
    padding-top: 5px;
 }
 /* home page */
 .image{
    padding: 10px;
 }
 .image img{
    height: 70vh;
    width:59rem !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
 }

 .alertImg{
    height: 30px;
    position: relative;
    margin-left: -110px;
 }
 .alertHead{
    margin-left: -130px;
 }
 /* navbar styling search bar */
 .search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 }
 .btn-search{
    background-color: #fe424d;
    color:#fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
 }
 .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.9rem;
    height: 50px;
    box-shadow: 2px 4px 4px #fe424d;
 }
 .btn-search:hover{
    background-color: #fe424d;
    color:#fff;
 }
 .btn-search i{
    display: inline;
    margin-right: 0.5rem;
 }

.signupCARD{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 2px 4px 5px 3px #674188;
} 

/* map styling */
#map{
    height: 400px;
}

.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
}
.filter p{
    font-size: 0.8rem;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}

/* tax-switch */
.tax-info{
    display: none;
}
.tax-toggle{
    height: 3.2rem;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 1rem;
    margin-left: 4.7rem;
    display: flex;
    align-items: center;
}
