<% layout("layouts/boilerplate") %>
<body>
    <div class="mt-2 signupCARD">
        <h2 class="col-4 offset-3 mb-3" style="color: #674188;">SignUp..</h2>
        <div class="col-4">
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div class="valid-feedback">
                        Valid username!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <div class="invalid-feedback">
                        Valid user email!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">
                        Please enter valid password!
                    </div>
                </div>
                <p style="text-align: center;">Have already an account? <a href="http://localhost:8080/login">Login here</a></p>
                <button class="btn btn-primary">SignUp</button>
            </form>
        </div>
    </div>
</body>